


.temp-navbar {
  max-width: 1024px;
  height: 260px;
  top: 0;
  margin: auto;
  background-color: #EFEFEF;
}

.temp-navbar-inner {
  width: 100%;
  position: absolute;
  margin-bottom: 0;
  z-index: 9999;
}
.temp-navbar-inner ul {
  width: 100%;
  float: left;
  margin-top: 200px;
  padding: 0;
  list-style: none;
   
}
.temp-navbar-inner ul li {
  float: left;
}
.temp-navbar-inner ul li a {
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 22px;
  padding-bottom: 16px;
  text-decoration: none;
  color: #000000;
  display: block;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.temp-navbar-inner ul li a:hover {
  color: #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%); /* W3C */
}
.temp-navbar-inner ul .active {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(242,242,242,1) 100%); /* W3C */
}
.temp-navbar-inner ul .active a {
  color: #c00;
  border-bottom: 1px solid #EFEFEF;
}
.temp-navbar-inner ul .nav-last {
  float:right;
}
.temp-navbar-inner ul .nav-last a {
  border-left: 1px solid #ccc;
}


#temp-navbar-port {
  width: 1024px;
  display: block;
  position: absolute;
  height: 260px;

  overflow: hidden;

}

#temp-navbar-port img {
  display: block;
  position: absolute;
}