.temp-blog-aside {
	background-color: #CCC;
	height: 500px;
	width: 300px;
	float: left;
}

.temp-blog-article {
	background-color: #DDD;
	height: 600px;
	margin-left: 320px;
	margin-right: 0px;
	position: relative;
}


.blogposts {
	margin-left: 10px;
	margin-right: 10px;
	height: auto;
	position: relative;
	background-color: green;
}

.singlepost {
	margin-left: 10px;
	margin-right: 10px;
	display: block;
	background-color: yellow;
	height: 600px;
}

.posttitle {
	background-color: pink;
}

.posttool {
	margin-left: 10px;
	margin-right: 10px;
	background-color: red;
	position: relative;
	height: auto;
	display: block;
}

.postdate {
	width: 200px;
	margin-left: 10px;
	height: auto;
	float: left;
	background-color: orange;
}
.postcommentnum {
	width: 100px;
	margin-left: 10px;
	height: auto;
	float: left;
	background-color: pink;
}
.postcommentnum span {
	color: snow;
	clear: right;
}


.postliveon {
	width: 100px;
	margin-right: 10px;
	height: auto;
	float: right;
	background-color: red;
	clear: right;
}
.postliveon span {
	color: yellow;
}
.postliveoff {
	width: 100px;
	margin-right: 10px;
	height: auto;
	float: right;
	background-color: blue;
	clear: right;
}
.postliveoff span {
	color: white;
}


.postdesc {
	margin-left: 10px;
	margin-right: 10px;
	background-color: blue;
	position: relative;
}

.descpicture  {
	margin-left: 10px;
	margin-right: 10px;
	background-color: green;
	position: relative;
}

.descvideo {
	margin-left: 10px;
	margin-right: 10px;
	background-color: green;
	position: relative;
	padding-bottom: 55%; /* 16:9 @ 56.25 w/ control */
	padding-top: 0px; /* 25px original */
	height: 0;
}
.descvideo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.postauthor {
	width: 200px;
	margin-left: 10px;
	height: auto;
	float: left;
	background-color: cyan;
}

.postlink {
	width: 100px;
	margin-right: 10px;
	height: auto;
	float: right;
	background-color: brown;
	clear: right;
}

.posttag  {
	margin-left: 10px;
	margin-right: 10px;
	background-color: purple;
	position: relative;
}