
::-webkit-scrollbar { 
    display: none; 
}

.page-home.ng-enter, .page-home.ng-leave {
  position: absolute;
  -webkit-animation-delay:1s;
  animation-delay:1s;
  -webkit-transition:all 1s ease-in-out;
  -moz-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;
}

.page-home.ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

.page-home.ng-enter-active {
  opacity: 1;
  -webkit-animation-delay:1s;
  animation-delay:1s;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

.page-home.ng-leave {

  opacity: 1;
  /*padding-left: 0px;*/  
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.page-home.ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}






.page-toot.ng-enter, .page-toot.ng-leave {
  position: absolute;
  -webkit-transition:all 5s ease-in-out;
  -moz-transition:all 5s ease-in-out;
  -o-transition:all 5s ease-in-out;
  transition:all 5s ease-in-out;
}

.page-toot.ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

.page-toot.ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

.page-toot.ng-leave {

  opacity: 1;
  /*padding-left: 0px;*/  
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.page-toot.ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

#loading {
    position: absolute;
    width: 300px;
    top: 10px;
    left: 500px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 50;
}

.temp-main {
	max-width: 1024px;
	margin: 0 auto;
	background-color: #F2F2F2;
  margin-top: 0px;
  position: relative;
}



